@font-face {
    font-family: 'Rothek';
    src: url('../fonts/rothek-extralight-webfont-full/webfonts/rothek-extralight.woff2') format('woff2'),
         url('../fonts/rothek-extralight-webfont-full/webfonts/rothek-extralight.woff') format('woff'),
         url('../fonts/rothek-extralight-webfont-full/webfonts/rothek-extralight.ttf') format('truetype');
    font-weight: 300; /* ExtraLight */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rothek';
    src: url('../fonts/rothek-bold-italic-webfont-full/webfonts/rothek-bold-italic.woff2') format('woff2'),
         url('../fonts/rothek-bold-italic-webfont-full/webfonts/rothek-bold-italic.woff') format('woff'),
         url('../fonts/rothek-bold-italic-webfont-full/webfonts/rothek-bold-italic.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
    font-display: swap;
}
